* {
  background-color: #3a5781;
  margin: 5px;
}
.results {
  border: 1px solid white;
  height: 100px;
}
.scoreboard {
  height: 150px;
  width: 350px;

  border-radius: 5px;
  margin: 10px auto;
  display: flex;
}

.humanScore {
  flex: 1;
  border: 1px solid white;
}
.robotScore {
  flex: 1;
  border: 1px solid white;
}
h2 {
  font-size: 5em;
  color: white;
  text-align: center;
}
p {
  color: yellow;
  text-align: center;
}

#choices {
  height: 150px;
  width: 500px;

  margin: 10px auto;
  display: flex;
}
#choice {
  flex: 1;
  border: 1px solid white;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

button {
  height: 130px;
  width: 140px;
  border: none;
  color: yellow;
  font-size: 1.6em;
}
