* {
  background-color: #3a5781;
  margin: 5px;
}
.results {
  border: 1px solid white;
  height: 100px;
}

.results > p {
  font-size: 1.5em;
  margin: 30px 100px 10px 100px;
  color: #3a5781;
  border-radius: 5px;
  background-color: white;
  padding: 3px;
}

.scoreboard {
  height: 150px;
  width: 350px;

  border-radius: 5px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.humanScore {
  flex: 1;
  border: 1px solid white;
}
.robotScore {
  flex: 1;
  border: 1px solid white;
}
h2 {
  font-size: 5em;
  color: white;
  text-align: center;
}
p {
  color: yellow;
  text-align: center;
}

#choices {
  height: 150px;
  width: 500px;

  margin: 10px auto;
  display: flex;
  justify-content: center;
}
#choice {
  flex: 1;

  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

button {
  height: 130px;
  width: 140px;
  border: 1px solid white;
  color: yellow;
  font-size: 1.4em;
  border-radius: 5px;
  transition: all 0.2s;
}
button:hover {
  border: 2px solid yellow;
  transition: 0.1s;
}

.pushed {
  font-size: 1.5em;
  transform: scale(1.05);
  border-color: yellow;
}

.reset-game {
  height: 50px;
  display: flex;
  justify-content: center;
}
button.reset {
  color: #3a5781;
  height: 40px;
  width: 200px;
  margin: 0 auto;
  background-color: white;
}
